.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

p {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Cpu */

.info h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.info p {
  background-color: antiquewhite;
  letter-spacing: 2px;
  font-family: "Pretendard-Regular";
  font-size: 20px;
  /* padding-bottom: 5px; */
  margin: 5px 0px 25px 0;
  padding: 5px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dashboard h3 {
  font-family: "GangwonEdu_OTFBoldA";
  margin: 10px 0px 10px 45px;
  font-size: 17px;
  text-align: center;
}

.chart-container {
  margin: 2px 0 40px 0;
  width: 95%;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 50px 0 50px 0;
  /* background-color: #f9f9f9; */
}
.chart {
  width: 15%;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .chart-container {
    width: 100%;
  }
}

.recharts-legend-wrapper {
  margin-left: 30px;
}
