@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-style: normal;
}
 
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* App.css */
body {
  background-image: url('../img/cgv.png');
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Adjust font family as needed */
  background-color: rgba(255, 255, 255, 0.1); /* Adjust the last value (alpha) to control transparency */
}



.App {
  text-align: center;
  font-family: 'GmarketSansMedium';
}

h1, h2, h3, h4, h5, h6, p, a, td, tr {
  font-family: 'Pretendard-Regular';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}