.infod {
  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
  align-items: center;
  min-height: 10px;
  box-sizing: border-box;
  padding-bottom: 10px;
  font-size: 10px;
}

.Information-container {
  width: 40%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: center; 
}

.Information-container h2 {
  font-size: 20px;

}

.metric-info p {
  font-size: 15px;
}

p {
  font-size: 15px;
}
