@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.login-container {
  max-width: 405px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  height: 405px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

p#region_title_p {
  color: #002ead;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Pretendard-Regular";
  margin: 20px 0 10px 0;
  font-size: 17px;
}

.region-select {
  position: relative;
  margin-bottom: 20px;
}

.region-select button {
  font-size: 17px;
  font-family: "Pretendard-Regular";
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.region-select button::after {
  content: ""; /* 화살표 없음 */
}

.region-list {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
}

.region-select.active .region-list {
  display: block;
}

.region-list button {
  width: 100%;
  padding: 8px 10px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

.region-list button:hover {
  background-color: #f0f0f0;
}

.custom-input {
  margin-bottom: 20px;
}

.custom-input label {
  font-family: "Pretendard-Regular";
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.custom-input input {
  font-size: 15px;
  width: 95%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.custom-input button {
  font-family: "Pretendard-Regular";
  letter-spacing: 2.5px;
  margin-top: 25px;
  font-weight: 900;
  font-size: 21px;
  width: 100%;
  padding: 15px 0px 10px 0px;
  border: none;
  border-radius: 30px;
  background-color: #fee500;
  border: solid 1px #fee500;
  color: #333;
  cursor: pointer;
}

.custom-input button:hover {
  background-color: #ccc;
  border: solid 1px #ccc;
}

.custom-input p {
  margin-top: 5px;
  color: red;
}

p.id-title {
  /* background-color: #eae6df; */
  color: #002ead;
  font-weight: bold;
}

p#access_key_id {
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Pretendard-Regular";
  color: #002ead;
  margin: 10px;
}

p#secret_access_key {
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Pretendard-Regular";
  color: #002ead;
  margin: 10px;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #007bff;
}

.forgot-password a:hover {
  text-decoration: underline;
}
