@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.infor {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  box-sizing: border-box;
  padding-bottom: 10px;
  padding-top: 5px;
}
.infor h2 {
  font-size: 35px;
  font-family: "Pretendard-Regular";
}
.infor h3 {
  font-size: 30px;
  padding-bottom: 20px;
}

.Rec-sub-title1 {
  /* margin-right: 37px; */
  /* margin: 34px; */
  /* background-color: antiquewhite; */
  color: #666;
  font-size: 25px;
  padding: 10px 40px 10px 10px;
}

.Rec-sub-title2 {
  background-color: antiquewhite;
  color: #666;
  font-size: 25px;
  padding: 10px 7px 10px 7px;
  margin-right: 8px;
}

.Rec-sub-title3 {
  background-color: antiquewhite;
  color: #666;
  font-size: 25px;
  padding: 10px 7px 10px 7px;
  margin-right: 8px;
}

.Recommend-container {
  margin: 0px 45px 0px 45px;
  width: 90%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 40px;
  /*background-color: #f9f9f9;*/
}

.Recommend-sub-container {
  margin: 0px 45px 0px 45px;
  width: 90%;
  margin-bottom: 20px;
  /*border: 1px solid #ddd;*/
  border-radius: 30px;
  padding: 40px;
}

.Recommend-section {
  display: flex;
  margin: 0 10px;
}
.Recommend-instance-group {
  margin-bottom: 20px;
}

.Recommend-instance {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.Recommend-instance p {
  margin: 5px 0;
}

p.rec-title {
  font-weight: bold;
  color: #002ead;
  background-color: #d2d2ff;
  /* font-size: 3px; */
}

.rec-box {
  padding: 10px;
}

.rec-box:hover {
  background-color: #dcebff;
}

.Recommend-instance ul {
  list-style-type: none;
  padding: 0;
}

.Recommend-instance ul li {
  margin: 5px 0;
}

.Recommend-instance-group:nth-child(even) {
  /*background-color: #f9f9f9;*/
}
