@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.infor {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  box-sizing: border-box;
  padding-bottom: 10px;
  padding-top: 5px;
}
.infor h2 {
  font-size: 35px;
  font-family: "Pretendard-Regular";
}
.infor h3 {
  font-size: 30px;
  padding-bottom: 20px;
}
.Recommend-container {
  margin: 0px 45px 0px 45px;
  width: 89%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 80px;
  background-color: #f9f9f9;
}
.Recommend-instance-group {
  margin-bottom: 20px; /* 인스턴스 그룹 간격 조정 */
}

.Recommend-instance {
  border: 1px solid #ccc; /* 인스턴스 테두리 추가 */
  border-radius: 5px; /* 테두리를 둥글게 만듦 */
  padding: 10px; /* 인스턴스 간의 안쪽 패딩 추가 */
}

.Recommend-instance p {
  margin: 5px 0; /* 단락 간격 조정 */
}

.Recommend-instance ul {
  list-style-type: none; /* 리스트 스타일 제거 */
  padding: 0; /* 리스트 패딩 제거 */
}

.Recommend-instance ul li {
  margin: 5px 0; /* 리스트 아이템 간격 조정 */
}

.Recommend-instance-group:nth-child(even) {
  background-color: #f9f9f9; /* 짝수번째 인스턴스 그룹에 배경색 추가 */
}
