.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  box-sizing: border-box;
  padding-bottom: 10px;
  padding-top: 5px;
}
.info h2{
  padding-bottom: 30px;
}
.Recommend-container{
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
}
.Recommend-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}